KUMOTE_TELEGRAM_BOT_TOKEN=your_telegram_bot_token
KUMOTE_TELEGRAM_CHAT_ID=your_telegram_id
ALLOWED_USER_IDS=any_telegram_user_id_that_you_want_to_allow
DEVELOPMENT_PATH=your_development_project_path
CLAUDE_CODE_PATH=your_claude_code_executable_path
PROJECT_INDEX_PATH=path_to/data/projects-index.json
